.header {
	background-color: black;
	padding: 20px;
	position: sticky;
	top:0px;
	z-index: 2;
	

}
.header ul li:first-child {
	font-size:20px;
	text-transform: uppercase;
	margin-right: 40%;
	letter-spacing: 5px;
}
.header ul {
	display: flex;
	list-style-type: none;
	flex-direction: wrap;
	justify-content: space-around;

}
.header ul li a {
	color:white;
	text-decoration:none;
	padding: 10px;
	position: relative;
	transition: all 0.5s. ease;
}

.header ul li a::after {
	padding-left:8px;
	content: "]";
	display: none;
	position: absolute;
	transition: 0.5s;
	
}
.header ul li a:hover::after {
    display:inline-block;

    
}
.header ul li a::before {
	content: "[";
	margin-left:-13px;
	display: none;
	position: absolute;
	transition: 0.8s;
}
.header ul li a:hover::before {
	display: inline-block;
    
}

.header .homeguzh:hover::before {
    display: none;
}
.header .homeguzh:hover::after {
    display: none;
}
.menu-nav {
	display: none;
}

